<strong>Olá, {{ name }}</strong>
<p>Sua pergunta foi respondida por nossa equipe! Confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br/>
  <strong>Resposta: </strong> {{ answer }} <br/>
</p>
<p>Caso deseje fazer uma nova pergunta, só procurar alguém de nossa equipe que responderemos assim que possível.</p>
